* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}
h1 {
	margin-bottom: 20px;
	font-size: 36px;
}
form {
	display: flex;
	margin-bottom: 20px;
}
input[type="text"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
}
button[type="submit"] {
	padding: 10px 20px;
	background-color: #e4e7e8;
	color: #2584e3;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}
.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.error{
	text-align: left;
	margin-left: 10px;
	font-size: 14px;
	margin-top: 10px;
	display:none ;

} 
.location {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
.temperature {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 10px;
}
.condition {
	font-size: 24px;
	margin-bottom: 10px;
}
.icon {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-size: contain;
	background-repeat: no-repeat;
}
